# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.tmp
*.bak

# IntelliJ & Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter & Dart build artifacts
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
/build/

# Android build outputs & local config
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/app/build/
**/android/app/release/
**/android/app/debug/
**/android/GeneratedPluginRegistrant.java
**/android/.cxx/

# iOS build outputs & ephemeral files
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Desktop Ephemeral Files
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
/windows/flutter/ephemeral/

# Xcode User Data & Derived Data
**/xcuserdata/
**/xcdebugger/
**/DerivedData/

# Test & Coverage
coverage/

# Databases & Local Dynamic Assets
*.db
*.sqlite
*.sqlite3
!dictionaries/dictionary.db.zip
