[Desktop Entry]
Name=LexoPlayer
Comment=Interactive Video Player for Language Acquisition
Exec=/usr/bin/lexoplayer %U
Icon=lexoplayer
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;Utility;
MimeType=video/mp4;video/x-matroska;video/x-msvideo;video/quicktime;video/webm;video/x-flv;video/3gpp;
Keywords=Video;Player;Language;Subtitles;Dictionary;
StartupWMClass=lexo_player
